name: terraform-lint
on:
  pull_request:
    branches: [ main ]
    paths:
    - '**.tf'
    - 'examples/**'
    - 'test/**'

jobs:
  tflint:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout source code
      uses: actions/checkout@v5

    - uses: terraform-linters/setup-tflint@v6
      name: Setup tflint
      with:
        tflint_version: v0.52.0
        cache: true

    - name: Show version
      run: tflint --version

    - name: Init tflint
      run: tflint --init
      env:
        # https://github.com/terraform-linters/tflint/blob/master/docs/user-guide/plugins.md#avoiding-rate-limiting
        GITHUB_TOKEN: ${{ github.token }}

    - name: Run tflint
      run: tflint -f compact
